NODE_ENV=development
PORT=3000
INCLUDE_STACK_IN_ERROR_RESPONSES=true

OPENAI_API_KEY=
OPENROUTER_API_KEY=
OPENROUTER_URL=https://openrouter.ai

PROMPTS_EXAMPLE_PROVIDER=
PROMPTS_EXAMPLE_MODEL=
PROMPTS_EXAMPLE_TEMPERATURE=
PROMPTS_EXAMPLE_REASONING_EFFORT=

